
@{
    ViewData["Title"] = "AddForm";
}

<h1>Add New Person</h1>
<form method="post" action="/people/add">
    First Name: <input type="text" name="firstname" /><br/>
    Last Name: <input type="text" name="lastname" /><br />
    Phone: <input type="text" name="phone" /><br />
    Email: <input type="email" name="email" /><br />
    <input type="submit" value="Add Person" /><br />
</form>

